.ssh
.emacs.d/eshell
.emacs.d/projectile-bookmarks.eld
.emacs.d/auto-save-list
.emacs.d/places
.emacs.d/elpa
.emacs.d/url
.emacs.d/ac-comphist.dat
.ido.last
.irb-history
.gem
.rnd
.rvm
.zlogin
.zshrc
.lesshst
.viminfo
.CFUserTextEncoding
.DS_Store
.Trash
.bash_history
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
itk